
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Meu Perfil - Editar
{% endblock %}
{% block content %}
		<section id="conteudo-principal">
			<div class="container">'

				<div id="conteudo-cabecalho">

					<div id="conteudo-titulo">
                        <h1>
                            <small>
								<i class="material-icons md-36">&#xE8B8;</i> Configurações da Conta
					 		</small>
                        </h1>
                    </div> <!-- conteudo-titulo -->

					<div id="conteudo-menu" class="clearfix">
					
						<div class="scroll-area">
					
							<button class="btn-link btn-control-scroll btn prevPage">
								<i class="material-icons">&#xE408;</i>
							</button>
							
							<button class="btn-link btn-control-scroll btn nextPage">
								<i class="material-icons">&#xE409;</i>
							</button>
						
							<div class="frame crazy" id="conteudo-menu-scroll">
							
								<ul class="nav nav-sublinhado slide">
									<li class="ativo">
										<a href="#">Dados Pessoais</a>
									</li>
									<li>
										<a href="{{ path('profile_changepassword')}}">Senha</a>
									</li>
									<li>
										<a href="{{ path('profile_cancelprofile')}}">Desativação</a>
									</li>
								</ul> <!-- slide -->
								
							</div> <!-- frame --> 
							
						</div> <!-- scroll-area -->
						
					</div> <!-- conteudo-menu --> 
					
                </div> <!-- conteudo-cabecalho --> 
				
				
			<form class="row" id='editUserForm' method="POST" action="{{ path('profile_saveuser') }}"  enctype="multipart/form-data">
				
				    <input type='hidden' id='editProfile' >
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Apelido</label>
						<input id="shortName" type="text" readonly class="form-control" value="{{ app.user.username }}">
					</div>
					
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Nome Completo</label>
						<input id="name" type="text" class="form-control" value="{{ app.user.realName }}">
					</div>
					
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Email</label>
						<input id="email" type="email" class="form-control" value="{{ app.user.email}}">
					</div>
					<div class="col-xs-12 form-group">
						<label>Avatar</label>
						<br>
						<div class="col-xs-12 form-group">
						     {% if app.user.avatar is not null %}
                    			<div class="col-xs-12 col-sm-4 text-center form-group">
			                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title pull-left">Foto Atual</h3>
                                 </div>
                                 <div class="file-tab panel-body">
                                       <!-- The file is stored here. -->
                                       <img src='{{ app.user.avatar }}' 
                                       style= "width: 180px; height: 180px;"/>
                     	          </div>
                    			 </div>
			         	     {% endif %}
                     	
							<div class="col-xs-12 col-sm-4 text-center form-group">
								<!--  image Upload Start -->
 
                                     <div class="imageupload panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <h3 class="panel-title pull-left">Carregar Imagem</h3>
                                        </div>
                                     
                                        <div class="file-tab panel-body">
                                            <label class="btn btn-default btn-file">
                                                <span>Browse</span>
                                                <!-- The file is stored here. -->
                                                <input type="file" id='avatar'  name="avatar">
                                            </label>
                                            <button type="button" class="btn btn-default">Remove</button>
                                        
                                			<p>ou</p>
											<p>
												<label class="checkbox-inline">
													<input type="checkbox"> Usar foto do Facebook
												</label>
											</p>
										</div>
                                    </div>
 									<!--  image upload End -->
							</div>
						</div>
					</div>
					<div class="col-xs-12 form-group">
						<button type="submit" id="submitEditProfile" class="clearfix btn btn-success">Salvar</button>
					</div>
				</form>
			</div> <!-- container --> 
		</section>

{% endblock %}
