<!DOCTYPE html>
<html>
<head>

<meta content="gzip/html; charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
{% block title %} 
	Tagarelas
{% endblock	%}
</title> 

{% block stylesheets %}

	<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('css/tagarelas.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('css/messageBox.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('css/jquery.magicsearch.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('css/DateTimePicker.css') }}" />
	
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
{% endblock %} 

{% block javascripts %}
	<!--  Bibliotecas contidas no CDN -->
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>    
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
   	
	<!--  Bibliotecas  Google --> 
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
	<!-- Bibliotecas de terceiros incluidas no projeto -->
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/collapse.js') }}"></script>
	<script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/jquery.typeahead.js') }}"></script>
	<script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/typeahead.bundle.js') }}"></script>
	<script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/loadingoverlay.js') }}"></script>
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/sly.min.js') }}"></script>  
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/jquery.messagebox.min.js') }}"></script>  
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/jquery.magicsearch.js') }}"></script>  
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/DateTimePicker.js') }}"></script>  
   
    <!--  Bibliotecas desenvolvidas para o projeto -->
	<script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/internal/GlobalVariables.js') }}"></script>
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/internal/md5.js') }}"></script>    
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/internal/ScreenTools.js') }}"></script>   
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/internal/Events.js') }}"></script>  
 
 	<!--  Bibliotecas para chamadas AJAX -->
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/ajax/Profile.js') }}"></script>    
 	<script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/ajax/Group.js') }}"></script>    
    <script type="text/javascript" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/ajax/Session.js') }}"></script>    
 
{% endblock %} 

{% block noJavaScript %}
	<noscript>
		<meta http-equiv="Refresh" content="0; url=erroJavascript.php">
	</noscript>
{% endblock %}

</head>
<body>
{% block head %}
	<header class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ path('feed_homepage') }}">
						<span class="logo">Tagarelas</span>
					</a>
				</div>
				<nav id="menu" class="clearfix">
					<div id="menu-lg" class="clearfix">
						<div id="menu-sm" class="clearfix">
							<ul id="nav-visivel-xs" class="nav text-center">
								<li id="mais-menu-search" class="col-xs-4">
									<a href="#" data-toggle="collapse" data-target="#submenu-pesquisa" aria-expanded="false">
										<i class="material-icons">&#xE8B6;</i><span class="descricao-icone">Pesquisar</span>
									</a>
								</li>
								<li id="mais-menu-xs" class="col-xs-4">
									<a href="#" data-toggle="collapse" data-target=".menu-collapse" aria-expanded="false" id="toogle">
										<i class="material-icons">&#xE5D2;</i>
									</a>
								</li>
							</ul>
							<div id="menu-collapse-xs" class="menu-collapse text-left collapse">
								<ul class="nav">
									<li>
										<a href="#">
											<i class="material-icons">&#xE192;</i>Agenda
										</a>
									</li>
									<li>
										<a href="#">
											<i class="material-icons">&#xE2C7;</i>Arquivos
										</a>
									</li>
									<li id="mais-menu-sm">
										<a href="#" data-toggle="collapse" data-target=".menu-collapse" aria-expanded="false" id="toogle">
											<i class="material-icons">&#xE5D2;</i>Mais
										</a>
									</li>
								</ul>
							</div> <!-- collapse-xs !--> 
						</div> <!-- menu-sm !-->
						<div id="menu-collapse-sm" class="menu-collapse text-left collapse">
							<ul class="nav">
								<li>
									<a href="#">
										<i class="material-icons">&#xE24D;</i>Publicações
									</a>
								</li>
								<li>
									<a href="#perfil">
										<i class="material-icons">&#xE7FD;</i><span class="descricao-icone">Perfil</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="material-icons">&#xE88E;</i>Sobre
									</a>
								</li>
							</ul>
						</div> <!-- collapse-sm !--> 
					</div> <!-- menu-lg !-->
					<div id="submenu-pesquisa" class="submenu clearfix text-left collapse">
						<div class="input-group input-group-typeahead">
							<input type="text" id="pesquisa-principal" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-link" type="button">
									<i class="material-icons">&#xE8B6;</i>
								</button>
							</span>
						</div><!-- input-group !-->
					</div> <!-- submenu-pesquisa !-->
				</nav>
			</div>
		</header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
	<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-justify">
						<p>Rodapé</p>
					</div>
				</div>
			</div>
		</footer>
{% endblock %}

{% block links %}
        <div id='divLoadAllUsers'           ajaxurl="{{ path('profile_loadallusers') }}"></div>
	    <div id='divLoadAllGroups'          ajaxurl="{{ path('group_loadallgroups') }}"></div>
		<div id='divCheckSessionName'       ajaxurl="{{ path("session_checksessionname") }}"></div>
		<div id='divSaveNewSession'         ajaxurl="{{ path('session_save') }}"></div>
		<div id='divCheckGroupName'         ajaxurl="{{ path('group_checkgroupname') }}"></div>
		<div id='divSaveNewGroup'           ajaxurl="{{ path('group_savenewgroup') }}"></div>
		<div id='divCheckEmailPath'         ajaxurl="{{ path('profile_checkemail') }}"></div>
		<div id='divSaveNewProfile'         ajaxurl="{{ path('profile_new') }}"></div>
		<div id='divloginPath'              ajaxurl="{{ path('login') }}"></div>
		<div id='divFeedPath'               ajaxurl="{{ path('feed_homepage') }}"></div>
		<div id='divCheckLoginPath'         ajaxurl="{{ path('profile_loginUser') }}"></div>
{% endblock %}

</body>
</html>
