{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Acesso ao Sistema
{% endblock %}
{% block content %}

{% trans_default_domain 'FOSUserBundle' %}

{%  if app.session.get('isMobile') == false %} <!--  login tela -->

<div id='container'>
	<div id='divCenter'>
		<div style='height: 30px'></div>
		<center>
		{% block fos_user_content %}
		<form name='login' id='login' method='post' action="{{ path("fos_user_security_check") }}">
		    {% if csrf_token %}
                 <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
			<div id='bordaLogin' class="login well">
					<br /> 
					<div class="control-group">
						<div class="controls">
			  				<div class="input-prepend input-append">
			    			<!-- 	<span class="add-on"><i data-original-title="Matricula" class="icon-user hasTooltip" data-placement="left"></i> 
			    					<label for="mod-login-username" class="element-invisible">Matricula</label>
			    				</span> -->
			    				<input id="username" name="_username" value="{{ last_username }}" required="required"
			    					tabindex="1" class="input-medium-cp2" placeholder="Matricula" size="15" type="text">
			  				</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
			  			    <div class="input-prepend input-append">
			    		     <!-- 	<span class="add-on"><i data-original-title="Password" class="icon-lock hasTooltip" data-placement="left"></i> 
			    		    	<label for="mod-login-password" class="element-invisible">Senha</label>
			    		    	</span> -->
			    		    	<input type='password' id="password" name="_password" required="required" maxlength='60' placeholder='Senha' 
			    			 	tabindex="2" class="input-medium-cp2" size="15" >
				  		    </div>
						 </div>
					</div>
					<div class="control-group">
						<div class="controls">
							<div class= "input-prepend input-append">
								<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    							<label for="remember_me">&nbsp;&nbsp;Manter-me logado</label>
							</div>
						</div>
					</div>
					<table>
						<tbody>
							<tr>
								<td height='3px'></td>
						
						</tbody>
					</table>
					<!-- Inicio o captcha -->
				<!--  <div align="center">
						<table>
							<tbody>
								<tr>
									<td><img id="captcha"
										src="/securimage/securimage_show.php"
										alt="Captcha Image" /></td>
									<td valign="center"><a href="#"
										onclick="document.getElementById('captcha').src='/securimage/securimage_show.php?'+ Math.random(); return false">
											<img id="differentImage"
											src="/securimage/images/refresh.png"
											alt="Novo número" />
											</div>
									</a></td>
								</tr>
								<tr>
									<td colspan="2" height="8px"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div align="center">
						<div class="control-group">
							<div class="controls">
			  					<div class="input-prepend input-append">
			    					<span class="add-on"><i data-original-title="Código de acesso" class="icon-key hasTooltip" data-placement="left"></i> 
			    						<label for="mod-login-username" class="element-invisible">Código de acesso</label>
			    					</span>
			    					<input name="captcha_code"  id="captcha_code" size="20" maxlengh="6" 
			    						tabindex="3"  class="input-medium-cp2" placeholder="Digite o Código" type="text">
			  					</div>
							</div>
						</div>
					</div>
					<div style='margin-top: 8px;  color: red; font-family: Verdana; font-size: 12px;' 
							align="center">
					        {% if error %}
    								{{ error.messageKey|trans(error.messageData, 'security') }}
                            {% endif %}					
					</div> -->
					<!-- Fim do captcha -->
					<div align='center' style='margin: 30px 20px;'>
						<div class="control-group"> 
							<div class="controls">
								<div class="btn-group pull-center">
									<button type = 'submit' tabindex="4" class="btn btn-large" id='_submit' name='_submit' >
										<i class="icon-lock"></i>&nbsp;Entrar&nbsp;</button>
								</div>
							</div>
						</div>
					</div>
				     <div align='center'>
				         <a href='{{ path('primeiro_acesso') }}'  target='_self' id='link'><i class='icon-publish'></i><font color="green">Recadastramento Obrigatorio 2017</font></a><br /> 
						 <a href='{{ path('primeiro_acesso') }}'  target='_self'	id='link'><i class='icon-unlock'></i>Esqueci minha Senha</a><br><br/>
					     <a	href='{{ asset('documentacao/ManualReferênciaAluno.pdf') }}' target='_new'><i class='icon-folder'></i>Manual do Aluno</font></a>
				     </div>
				<br />
				<div align='center'>
				<!-- 	<b><font color="red">Aviso:</b> Os boletins serão liberados em 04/06/2015</font> -->
				</div>
				
				
			</div>
			<div>
				<table border=0 style='color: black'>
					<tbody>
						<tr>
							<td colspan=2 height="8px"
						
						</tr>
						<tr style='color: black'>
							<td align="left" style='color: black; font-size: 9px;'>
								&nbsp;&nbsp;&nbsp;Contato:&nbsp;</td>
							<td align="left" style='color: black; font-size: 9px;'>Lucia
								Mendon&ccedil;a (Secretaria da PROEN)</td>
						</tr>
						<tr>
							<td colspan=2 height="1px"></td>
						</tr>
						<tr style='color: black'>
							<td align="left" style='color: black; font-size: 9px;'>&nbsp;&nbsp;&nbsp;Ramal:&nbsp;</td>
							<td align="left" style='color: black; font-size: 9px;'>1104</td>
						</tr>
						<tr>
							<td colspan=2 height="1px"></td>
						
						</tr>
						<tr style='color: black;'>
							<td align="left" style='color: black; font-size: 9px;'>&nbsp;&nbsp;&nbsp;Atendimento:&nbsp;</td>
							<td align="left" style='color: black; font-size: 9px;'>09:00 às
								13:00 h.</td>
						</tr>
					</tbody>
				</table>
			</div>
		  </form>
		  {% endblock fos_user_content %}
		</center>
	</div>
</div>
</div>
{%  else %} <!--  Login Mobile -->
<script>

$( function() {
	$("#baseheader").hide();
	$("body").css("background-color","#4466AE");
	$("div").css("background-color","#4466AE");
	
	window.addEventListener('orientationchange', function(e){
    	var isUpright = (window.orientation == 'portrait');
	});
});

$(window).bind("orientationchange", function(){
    var orientation = window.orientation;
    var new_orientation = (orientation) ? 0 : 180 + orientation;
    $('body').css({
        "-webkit-transform": "rotate(" + new_orientation + "deg)",           //Chrome
        "-moz-transform": "rotate(" + new_orientation + "deg)",              //Firefox
        "-o-transform": "rotate(" + new_orientation + "deg)",                //Opera
        "-ms-transform": "rotate(" + new_orientation + "deg)",               //IE's novos
        "transform": "rotate(" + new_orientation + "deg)",                   //nativa
        "filter": "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)" //IE's antigos
    });
});


</script>

	<div class="row-span" style= "background-color: #4466AE; !important">
			<div class='span8 center' style= "background-color: #4466AE; !important">
			<table>
			<td width="20px">
			</td>
			<tr>
			<td class="center" valign="middle">
			<!-- 	<img id="logo" srcset="/images/logo_cp2.png 4x" 
					alt="Col&eacute;gio Pedro II" border=0 />  -->  
			</td>
			<td width="20px">
			</td>
			<td>
			  <h1><font color="#FFF">Col&eacute;gio Pedro II</font></h1>
			  <h4><font color="#FFF">SIAAC - Mobile</font></h4>
			</td>
			</tr>
			<tr>
			<td colspan=3 height="15px">
			</td>
			</tr>
			</table>
			</div>
		</div>
		<div class="row-span" style= "background-color: #4466AE; !important">
		<div class="span8" style= "background-color: #4466AE; !important">
		<form name='login' id='login' method='post' action="{{ path("fos_user_security_check") }}">
  		   {% if csrf_token %}
                 <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
  		   <div class="row-span"  style= "background-color: #4466AE; !important">
	  		   <div class="span8" style= "background-color: #4466AE; !important">
			        <input id="username" name="_username" value="{{ last_username }}" required="required"
			    		tabindex="1" id="mod-login-username" class="input-mobile-full" placeholder="Matricula" size="15" type="text" >
				</div>
			</div>	
			<table>
			<tr>
			<td height='8px'> </td>
			</tr>
			</table>

			<div class="row-span"  style= "background-color: #4466AE; !important">
  		    <div class="span8" style= "background-color: #4466AE; !important">
				<input type='password' id="password" name="_password" required="required" maxlength='60' placeholder='Senha' 
			       tabindex="2" class="input-mobile-full" >
	 		</div>
            </div>
            <table>
			<tr>
			<td height='8px'> </td>
			</tr>
			</table>
			<!-- Inicio do captcha -->
		 <!-- <div class="row-span" style= "">
  		    <div class="span8">
				<div align="center">
					<table>
						<tbody>
							<tr>
								<td align="center" ><img id="captcha"
									src="/securimage/securimage_show.php"
									alt="Captcha Image" />
									<a href="#"
									onclick="document.getElementById('captcha').src='/securimage/securimage_show.php?'+ Math.random(); return false">
									<Font color="#fff"size="2">
									<i class="icon-refresh"></i></font>
									</a>
								</td>
								<tr>
								<td height="10px">
								</td>
								</tr>
							</tbody>	
						</table>
						<table>	
						<tbody>	
								<tr>
								<td align="center">
									
								</td>
							</tr>
							<tr>
								<td colspan="2" height="8px"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
			</div>
			<div class="row-span" style= "background-color: #4466AE; !important">
  		    <div class="span8" style= "background-color: #4466AE; !important">
			<input name="captcha_code"  id="captcha_code"  maxlengh="6" value="" autocomplete="off"
    			tabindex="3"  class="input-mobile-full" placeholder="Digite o Código Acima" type="text">	 	
    		</div>
            </div> -->		
			<table>
			<tr>
			<td height='8px'> </td>
			</tr>
			</table>
			<!-- Fim do captcha -->	
			<div style='background-color: #4466AE; margin-top: 8px;  color: red; font-family: Verdana; font-size: 12px;' align="center">
                {% if error %}
    				{{ error.messageKey|trans(error.messageData, 'security') }}
                {% endif %}		
			</div>
			<div class="row-span" style= "background-color: #4466AE; !important">
  		    <div class="span8 center" style= "background-color: #4466AE; !important">
  		    	<div class='center' style= "background-color: #4466AE; !important">
				<button style='margin: 0px' tabindex="4" class="span8 btn btn-large" id='submitLogin' name='submitLogin' >
										<i class="icon-lock"></i>&nbsp;Acessar seu SIAAC Mobile&nbsp;</button>
				 </div>
			 </div>
			 </div>
		  </form>
		  </div>
		  </div>
	      <div class="row-span" style= "background-color: #4466AE; !important">
	        <div class='span12' style= "background-color: #4466AE; !important"> &nbsp;
	        </div>
	      </div> 
		  <div class="row-span" style= "background-color: #4466AE; !important">
		    <div class='span8' style= "background-color: #4466AE; !important">
		    	<div align="center" style= "background-color: #4466AE; !important">
		 			<table align="center" class="span8">
						<tr>
						<td class="no-wrap center">
						    <a href='{{ path('primeiro_acesso') }}'  target='_self' id='link'>
							<Font color="#fff"size="3">
							    <i data-original-title="Cadastrar-me" class="icon-pencil hasTooltip" data-placement="left"></i> 
			    			</font>
			    			<br />
			    		 	<font color="#ffffff" size="1"><b> Recadastramento Obrigatorio 2017</b></font>
			    		 	</a>
						</td>
						<td width="20px">
						</td>
					  	<td class="no-wrap center">
					  		<a href='{{ path('primeiro_acesso') }}'  target='_self' id='link'>
							<Font color="#fff"size="3">
							    <i data-original-title="Esqueci minha senha" class="icon-unlock hasTooltip" data-placement="left"></i> 
			    			</font>
			    			<br />
			    			 	<font color="#FFF" size="1"> Esqueci<br/>minha Senha</font>
			    			</a> 	
						</td>
						<td width="20px">
						</td>
						<td class="no-wrap center">
							<Font color="#fff"size="3">
						    	<i data-original-title="Fale Conosco" class="icon-mail hasTooltip" data-placement="left"></i>
			    			</font><br />
			    			<font color="#FFF" size="1">
			    			 	Fale Conosco
			    			</font>
						</td>
						<td width="20px">
						</td>
						<td class="no-wrap center">
						 <a	href='{{ asset('documentacao/ManualReferênciaAluno.pdf') }}' target='_new'>
							<Font color="#fff"size="3">
							    <i data-original-title="Manual do usuario" class="icon-list-2 hasTooltip" data-placement="left"></i> 
			    			</font> <br/>
			    		    <font color="#FFF" size="1">Manual do Usu&aacute;
			    		    rio</font>
			    		  </a>
			    		 </td>
						</tr>
					</table>
					</div>
				</div>
			</div>

{% endif %}



{% endblock bodyContents %}

{% block tablespaces %}
<div></div>
{% endblock tablespaces %}